<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Music Graph</title>
</head>
  <body>
    <% if(!user) { %>
      <a href="/auth/spotify">Login with Spotify</a>
    <% }else{ %>
      <!-- <div>ID: <%= user.id %></div> -->
      <div>Profile: <a href="<%= user.profileUrl %>"><%= user.displayName %></a></div>
      <img style="max-height: 30px;" src=<%= user.photos[0] %> alt="profile-image">
    <% } %>
    <div id="react-root"></div>
    <div id="network"></div>
    <script src="<%= bundleSrc %>"></script>
  </body>
</html>
